@import "breakpoints";
// @import "../assets/fonts/BAUHAUS/fonts.scss";
// @import "../assets/fonts/TT Hoves Pro Trial/fonts.scss";

$primary-color: #ccb2b2;
$primary-color-50: #ccb2b27e;
$primary-color-80: #ccb2b228;

$secondary-color: #c75555;
$secondary-color-50: #3c1a1a;

$tertiary-color: #74a36d;

$color-black: #111111;

$content-width: 80%;
$content-margin: 15vw;
$content-padding: 5vw;

$content-width-mobile: 90vw;
$content-margin-mobile: 5vw;
