:root {
	--max-width: 1200px;

	--padding-top: 10rem;
	--padding-bottom: 10rem;
	--margin-top: 10rem;

	--primary-color: #ccb2b2;
	--primary-color-50: #ccb2b27e;

	--secondary-color: #c75555;

	--tertiary-color: #74a36d;
	--tertiary-color-50: #74a36d80;

	--color-black: #020202;
	--color-black-90: #020202ec;
	--text-light: #e8e6e3;

	--font-size-h4: 2rem;

	--font-family-syne: "Syne", sans-serif;
	--font-family-ibm: "IBM Plex Mono", monospace;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	font-family: var(--font-family-syne);
	color: var(--primary-color);
}

a {
	text-decoration: none;
	border: 0;
}

p {
	font-family: var(--font-family-syne);
	font-size: 18px;
}

h1 {
	font-family: var(--font-family-syne);
	font-size: clamp(2rem, 10vw, 7rem);
	line-height: 1.2;
	font-weight: 400;
	color: var(--primary-color);

	@media (max-width: 768px) {
		font-size: clamp(1.5rem, 10vw, 3rem);
	}
}

h2 {
	font-family: var(--font-family-syne);
	font-size: clamp(1.5rem, 8vw, 3.5rem);
	line-height: 1.2;
	font-weight: 700;
	color: var(--primary-color);
}

h3 {
	font-size: 1.5rem;
	font-weight: 400;
	text-transform: uppercase;
	opacity: 0.5;
	margin-bottom: 2rem;
}

.highlight {
	// font-family: "Playfair Display", serif;
	font-weight: 700;
	color: var(--tertiary-color);
	color: transparent;
	-webkit-text-stroke: 1px var(--tertiary-color);
}

main {
}

section {
	padding-top: var(--padding-top);
	width: 100%;

	&[data-background-black] {
		background: var(--color-black-90);
		background: var(--color-black);
		margin-top: var(--margin-top);
		padding-bottom: var(--padding-bottom);
	}
}
