.contact-wrapper {
	max-width: var(--max-width);
	margin: 0 auto;

	.contact-content {
		display: flex;
		justify-content: space-between;
		// gap: clamp(2rem, 6vw, 5rem);

		.contact-text-container {
			display: flex;
			flex-direction: column;
			gap: 1rem;
			width: 70%;
			margin-top: 2rem;

			.contact-text-small {
				opacity: 0.5;
			}

			.contact-info-email,
			a {
				font-family: var(--font-family-syne), sans-serif;
				font-size: clamp(1.5rem, 8vw, 3rem);
				font-weight: 700;
				margin-block: 1rem;
				color: transparent;
				-webkit-text-stroke: 1px var(--primary-color);
				transition: 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);

				&:hover {
					color: var(--tertiary-color);
					-webkit-text-stroke: 0;
					transition: 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
				}
				&::before {
					width: 0.5rem;
					height: 0.5rem;
					display: none;
				}
			}

			.contact-email-note {
				width: 50%;
			}
		}

		.contact-image {
			overflow: hidden;
			border-radius: 50%;
			aspect-ratio: 1;
			width: fit-content;

			svg {
				width: fit-content;
				height: 100%;
				filter: grayscale(100%);

				@media (max-width: 1280px) {
					width: 20rem;
					height: 20rem;
				}

				@media (max-width: 768px) {
					width: 10rem;
					height: 10rem;
					display: none;
				}
			}
		}

		@media (max-width: 768px) {
			flex-direction: column;

			.contact-text-container {
				justify-content: flex-start;
				gap: 0;

				p {
					margin: 0;
				}
			}

			.contact-text-container {
				width: 100%;

				.contact-info-email,
				a {
					// font-size: clamp(1.5rem, 5vw, 3rem);
					font-size: 1.4rem;

					&::before {
						display: none;
					}

					svg {
						display: none;
					}
				}

				.contact-email-note {
					width: 100%;
				}
			}
		}
	}
}
