:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

a {
	text-decoration: underline;
	text-underline-offset: 0.2em;
	transition:
		color 0.2s ease,
		opacity 0.2s ease;

	&:hover {
		opacity: 0.9;
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

#canvas {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100dvh;
	z-index: -1;
	overflow: hidden;

	canvas {
		width: 100% !important;
		height: 100% !important;
		display: block;
	}
}
