/*!**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/app/styles/ProjectPage.module.scss ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
/**
*
* Testing
*
**/
.ProjectPage_work__header__eaGV7 {
  display: flex;
  flex-direction: row;
  align-items: last baseline;
  height: 50dvh;
  width: 768px;
  margin: 10rem 0 5rem 0;
  pointer-events: none;
}
.ProjectPage_work__header__eaGV7 .ProjectPage_heading__container__26v57 h4 {
  display: inline-block;
  font-size: 1rem;
  font-weight: 100;
  color: #ccb2b2;
  padding-bottom: 1rem;
  border-bottom: 2px solid #c75555;
}
.ProjectPage_work__header__eaGV7 .ProjectPage_heading__container__26v57 h1 {
  color: #74a36d;
  font-size: 5rem;
  font-weight: 800;
  margin: 0;
}
@media (max-width: 767px) {
  .ProjectPage_work__header__eaGV7 .ProjectPage_heading__container__26v57 h1 {
    font-size: 2rem;
    order: 0;
    margin: 0;
  }
}

.ProjectPage_work__section__wyw17 .ProjectPage_project__info__FweP4 {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  text-align: right;
}
.ProjectPage_work__section__wyw17 .ProjectPage_project__info__FweP4 div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
  padding: 0 0.3rem 1.5rem 0.3rem;
  border-bottom: 1px solid rgba(204, 178, 178, 0.4941176471);
  font-size: 0.9rem;
  font-weight: 200;
}
.ProjectPage_work__section__wyw17 .ProjectPage_project__info__FweP4 h4 {
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #74a36d;
  margin: 0;
}
.ProjectPage_work__section__wyw17 .ProjectPage_project__info__FweP4 span {
  line-height: 1.5rem;
}
.ProjectPage_work__section__wyw17 h2 {
  margin: 5rem 0;
  font-size: 2.5rem;
  color: #74a36d;
}
.ProjectPage_work__section__wyw17 p {
  font-size: 2rem;
  font-size: 1.5rem;
  line-height: 2rem;
}
.ProjectPage_work__section__wyw17 figcaption {
  font-style: italic;
  color: rgba(204, 178, 178, 0.4941176471);
}
