/*!***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/app/styles/Home.module.scss ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Home_header__PXxWO {
  height: 80dvh;
  margin: 0auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.Home_header__PXxWO h2 {
  margin-top: -20px;
  padding-left: 20px;
}

.Home_column__9rCqd {
  flex: 1;
}

.Home_anchor__61Tcp {
  border-bottom: 1px solid #fff;
  pointer-events: all;
  transition: 0.8s;
}
.Home_anchor__61Tcp:hover {
  color: #2659ac;
  border-bottom: 1px solid #2659ac;
  transition: 0.8s;
}
