/*!*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/app/styles/Homepage.module.scss ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@charset "UTF-8";
/**
*
* Testing
*
**/
.Homepage_header__xtKuB {
  height: 40dvh;
  margin-top: 22.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Homepage_header__xtKuB h2 {
  margin-top: -20px;
  padding-left: 20px;
}

.Homepage_anchor__KYwBA {
  border-bottom: 1px solid #fff;
  pointer-events: all;
  transition: 0.8s;
}

.Homepage_intro__z4eR3 {
  width: 1024px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10rem;
}
.Homepage_intro__z4eR3 .Homepage_intro__title__qfF_8 {
  margin-bottom: 1rem;
}
.Homepage_intro__z4eR3 .Homepage_intro__description__G3hTm {
  font-family: var(--font-quicksand);
  font-size: 3rem;
  line-height: 4.5rem;
  font-weight: 400;
  text-align: center;
  color: #ccb2b2;
}
.Homepage_intro__z4eR3 .Homepage_intro__description__G3hTm h1 {
  font-size: 2rem;
}

.Homepage_work__section__Y1WC0 {
  display: flex;
  flex-direction: column;
  margin-top: 10rem;
}
.Homepage_work__section__Y1WC0 .Homepage_work__item__rm5b_ {
  position: relative;
  margin-bottom: 5rem;
  pointer-events: all;
}
.Homepage_work__section__Y1WC0 .Homepage_work__item__rm5b_ .Homepage_work__image__UjW35 {
  width: 100%;
  height: 100%;
}
.Homepage_work__section__Y1WC0 .Homepage_work__item__rm5b_::after {
  content: "";
  position: absolute;
  top: -0.8%;
  left: 0;
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(17, 17, 17, 0.862745098));
  width: 100%;
  height: 100%;
}
.Homepage_work__section__Y1WC0 .Homepage_work__item__rm5b_ img {
  filter: grayscale(1);
  transition: filter 0.4s ease-in;
}
.Homepage_work__section__Y1WC0 .Homepage_work__item__rm5b_ img:hover {
  filter: grayscale(0);
}
.Homepage_work__section__Y1WC0 .Homepage_work__item__rm5b_ .Homepage_work__description__250_k {
  position: absolute;
  display: flex;
  width: 80%;
  justify-content: space-between;
  align-items: center;
  bottom: 7.5%;
  left: 10%;
  z-index: 1;
  pointer-events: all;
}
.Homepage_work__section__Y1WC0 .Homepage_work__item__rm5b_ .Homepage_work__description__250_k .Homepage_work__title__fNOtd {
  font-size: 2rem;
  font-weight: bold;
  color: #74a36d;
  margin-bottom: 0.5rem;
}
.Homepage_work__section__Y1WC0 .Homepage_work__item__rm5b_ .Homepage_work__description__250_k ul {
  display: flex;
  padding: 0;
}
.Homepage_work__section__Y1WC0 .Homepage_work__item__rm5b_ .Homepage_work__description__250_k li {
  list-style: none;
  color: #74a36d;
  font-weight: 400;
  font-size: 1rem;
  text-transform: uppercase;
  margin-inline: 1.2em;
  padding: 0;
  margin-inline: 1em;
}
.Homepage_work__section__Y1WC0 .Homepage_work__item__rm5b_ .Homepage_work__description__250_k li:first-child {
  margin: 0;
}
.Homepage_work__section__Y1WC0 .Homepage_work__item__rm5b_ .Homepage_work__description__250_k li::after {
  position: absolute;
  content: "•";
  font-size: 0.5em;
  margin-top: 0.7em;
  margin-left: 0.8em;
}
.Homepage_work__section__Y1WC0 .Homepage_work__item__rm5b_ .Homepage_work__description__250_k li:last-child::after {
  content: "";
}
.Homepage_work__section__Y1WC0 .Homepage_work__item__rm5b_ .Homepage_work__description__250_k img {
  filter: grayscale(0);
}
.Homepage_work__section__Y1WC0 .Homepage_work__item__rm5b_ a:hover > img,
.Homepage_work__section__Y1WC0 .Homepage_work__item__rm5b_ a:focus > img {
  color: #74a36d;
  filter: grayscale(0);
  transition: filter 0.4s ease-in;
}

.Homepage_about__section___ZJWx {
  position: relative;
  margin: 0 auto;
  color: #ccb2b2;
}
.Homepage_about__section___ZJWx p {
  font-family: sans-serif;
  font-size: 1rem;
  width: 25rem;
  text-align: right;
}
.Homepage_about__section___ZJWx .Homepage_experience__list__WOIMV {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 1rem;
  border-bottom: 1px solid rgba(204, 178, 178, 0.4941176471);
}
.Homepage_about__section___ZJWx .Homepage_experience__list__WOIMV:last-child {
  border-bottom: none;
}
.Homepage_about__section___ZJWx .Homepage_experience__list__WOIMV:last-child {
  margin-bottom: 5rem;
}
.Homepage_about__section___ZJWx .Homepage_experience__list__WOIMV .Homepage_experience__info__tfkeP a {
  color: #c75555;
}
.Homepage_about__section___ZJWx .Homepage_experience__list__WOIMV .Homepage_experience__info__tfkeP a:hover {
  color: #74a36d;
}
.Homepage_about__section___ZJWx .Homepage_experience__list__WOIMV .Homepage_experience__info__tfkeP span {
  font-family: sans-serif;
  font-weight: 100;
  font-size: 1rem;
}
.Homepage_about__section___ZJWx .Homepage_experience__list__WOIMV .Homepage_experience__info__tfkeP span:last-child {
  font-size: 0.9rem;
  color: rgba(204, 178, 178, 0.4941176471);
}

.Homepage_work__section__Y1WC0 h3,
.Homepage_about__section___ZJWx h3 {
  font-size: 5rem;
  line-height: 5rem;
  font-weight: 700;
  text-transform: uppercase;
  color: rgba(204, 178, 178, 0.4941176471);
  color: transparent;
  -webkit-text-stroke: rgba(204, 178, 178, 0.4941176471) 1px;
  opacity: 0.15;
  margin-bottom: 3rem;
}
